<footer id="site-footer" role="contentinfo">
  <div class="listening">
    <h3><a href="/listening">Listening:</a></h3>
    <img src="{{ song.image }}" role="presentation" alt="">
    <p><em>{{ song.name }}</em><br>by {{ song.artist }}</p>
  </div>

  <div class="reading">
    {% set book = books[0] %}
    <h3><a href="/reading">Reading:</a></h3>
    <img src="{{ book.image }}" role="presentation" alt="">
    <p><em>{{ book.title }}</em><br>by {{ book.people['author'] }}</p>
    <figure>
      <canvas class="progress" width="150" height="150" data-progress="{{ book.progress / book.pages }}"></canvas>
      <figcaption>{{ book.percent }}
    </figure>
  </div>

  {% if time.timeOfDay != 'oops' %}
    <p class="greeting">
      Thank you for visiting, and based on my time zone, I hope you're having a good {{ time.timeOfDay }}!
    </p>
  {% endif %}

  <p class="copyright">
    Copyright &copy; {{ year }} David Dashifen Kees
  </p>
</footer>

{% if debug %}
  <!-- {{ page.context }} -->
{% endif %}
