{% extends '@layout/base.twig' %}

{% block content %}
  {{ page.content }}

  {% for shelf, contents in page.library %}
    <section class="{{ shelf }}">
      <header><h2>{{ contents.heading }}</h2></header>
      <ol class="shelf books">
        {% for book in contents.books %}
          <li>
            <figure class="item">
              <img src="{{ book.image }}" role="presentation" alt="">
              <figcaption>
                <strong>{{ book.title }}</strong> by {{ book.people.author }}

                {% for type, people in book.people %}
                  {% if type != 'author' %}
                    ({{ type }}: {{ people }})
                  {% endif %}
                {% endfor %}
              </figcaption>
            </figure>
          </li>
        {% endfor %}
      </ol>
    </section>
  {% endfor %}
{% endblock %}
